.DS_Store
Blast/.Cyclase_polyketgi.swp
Blast/.DS_Store
Blast/Erin
Blast/bak
Blast/blast_results
Blast/blast_results_parse_evalue_1/
Blast/blast_results_seqs*
Blast/del
Erin/
Genbank/*.hmmsearch*
Genbank/.DS_Store
Genbank/bak*/
Genbank/clf.gbids.withclusters.withdesc.txt
KSCLF_tandem/.DS_Store
KSCLF_tandem/KR.Lackner.*
KSCLF_tandem/bak*
KSCLF_tandem/hmm_filtered_file_ksclf_tandem
KSCLF_tandem/scripts/old.get_erin_ids_seqs.py
Phylogeny/*.fasta
Phylogeny/.DS_Store
Phylogeny/bak*
Phylogeny/erin_*
Phylogeny/t2*
blast_results_parse
identity/
log/
manuscript/
old/
pHMM_search/*.hmmsearch*
pHMM_search/.DS_Store
pHMM_search/bak*
KSCLF_tandem/t2*
Genbank/*.hmmsearch*
Genbank/bak*/
Genbank/clf.gbids.withclusters.withdesc.txt
pHMM_train/HMM.hmmsearch.FastaTestSets/
pHMM_train/HMM.hmmsearch.FastaTestSets.parse/
pHMM_train/.DS_Store
pHMM_train/HMM/
pHMM_train/MSA/
pHMM_train/*.pdf
pHMM_train/bak*
pHMM_train/FastaTestSets/
refset_ids
tables/
